@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

*{
padding: 0;
margin: 0px auto;
box-sizing: border-box;
}

body{
    background-image: url(IMAGES/mainblue.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
}

img{
width: 300px;
height: 300px;
padding: 15px;
align-self: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 90vw;
    gap: 15px;
    margin: 20px auto;
}

.pokemonINFO{
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 100%;
    border: 3px solid black;
    border-radius: 10px;
    transition: 1s all ease;
}

p{
    filter: drop-shadow(4px 4px 1px black);
    color: white;
    font-family: "Press Start 2P", system-ui;
    display: none;
}

.ball{
    display:none;
}


#b-color{
    background-color:rgb(245, 239, 161);
}

#bu-color{
    background-color:rgb(27, 107, 63);
}

#ca-color{
    background-color:rgb(62, 190, 120);
}

#char-color{
    background-color:rgb(197, 153, 57);
}

#dra-color{
    background-color:rgb(57, 118, 197);
}

#ee-color{
    background-color:rgb(214, 163, 53);
}

#jig-color{
    background-color:rgb(255, 70, 246);
}

#man-color{
    background-color:rgb(223, 198, 152);
}

#meo-color{
    background-color:rgb(219, 201, 166);
}

#mew-color{
    background-color:rgb(221, 182, 209);
}

#pid-color{
    background-color:rgb(228, 187, 98);
}

#pika-color{
    background-color:rgb(252, 250, 153);
}




@media (max-width: 1200px){

    .container{
        flex-direction: column;
    }

    .pokemonINFO{
        height: 50%;
        width: 80%;
        justify-content: center;
        transition: 1s all ease;
    }

    img{
        width: 150px;
        height: 150px;
        margin: 15px;
        align-self: center;
    }
    
    p{
        align-self: center;
        display: inline;
    }
    
    .ball{
        width: 100px;
        height: 100px;
        display: inline;
    }

    #b-color:hover{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(IMAGES/bellsproutbg.jpg);
        transition-duration: 0.5s;
    }
    
    #bu-color:hover{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(IMAGES/bulbasaurbg.jpg);
        transition-duration: 0.5s;
    }
    
    #ca-color:hover{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(IMAGES/caterpiebg.jpg);
        transition-duration: 0.5s;
    }
    
    #char-color:hover{
        background-position: center;
        background-image: url(IMAGES/charmanderbg.jpg);
        transition-duration: 0.5s;
    }
    
    #dra-color:hover{
        background-position: center;
        background-image: url(IMAGES/dratinibg.png);
        transition-duration: 0.5s;
    }
    
    #ee-color:hover{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(IMAGES/eeveebg.jpg);
        transition-duration: 0.8s;
    }
    
    #jig-color:hover{
        background-position: center;
        background-image: url(IMAGES/jigglypuffbg.jpg);
        transition-duration: 0.5s;
    }
    
    #man-color:hover{
        background-position: center;
        background-image: url(IMAGES/mankeybg.png);
        transition-duration: 0.5s;
    }
    
    #meo-color:hover{
        background-position: center;
        background-image: url(IMAGES/meowthbg.jpg);
        transition-duration: 0.5s;
    }
    
    #mew-color:hover{
        background-position: center;
        background-image: url(IMAGES/mewbg.png);
        transition-duration: 0.5s;
    }
    
    #pid-color:hover{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(IMAGES/pidgeotbg.jpg);
        transition-duration: 0.5s;
    }
    
    #pika-color:hover{
        background-position: center;
        background-image: url(IMAGES/pikachubg.jpg);
        transition-duration: 0.5s;
    }

}





@media (max-width: 690px){

    .container{
        flex-direction: column;
    }

    .pokemonINFO{
        width: 400px;
        flex-direction: column;
        
    }

    .ball{
        display:none;
    }

    img{
        width: 200px;
        height: 200px;
        margin: 15px;
        align-self: center;
    }

    p{
        margin: 20px;
        align-self: center;
        display: inline;
    }

    #b-color:hover{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(IMAGES/bellsproutbg.jpg);
        transition-duration: 0.5s;
    }
    
    #bu-color:hover{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(IMAGES/bulbasaurbg.jpg);
        transition-duration: 0.5s;
    }
    
    #ca-color:hover{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(IMAGES/caterpiebg.jpg);
        transition-duration: 0.5s;
    }
    
    #char-color:hover{
        background-position: center;
        background-image: url(IMAGES/charmanderbg.jpg);
        transition-duration: 0.5s;
    }
    
    #dra-color:hover{
        background-position: center;
        background-image: url(IMAGES/dratinibg.png);
        transition-duration: 0.5s;
    }
    
    #ee-color:hover{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(IMAGES/eeveebg.jpg);
        transition-duration: 0.8s;
    }
    
    #jig-color:hover{
        background-position: center;
        background-image: url(IMAGES/jigglypuffbg.jpg);
        transition-duration: 0.5s;
    }
    
    #man-color:hover{
        background-position: center;
        background-image: url(IMAGES/mankeybg.png);
        transition-duration: 0.5s;
    }
    
    #meo-color:hover{
        background-position: center;
        background-image: url(IMAGES/meowthbg.jpg);
        transition-duration: 0.5s;
    }
    
    #mew-color:hover{
        background-position: center;
        background-image: url(IMAGES/mewbg.png);
        transition-duration: 0.5s;
    }
    
    #pid-color:hover{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(IMAGES/pidgeotbg.jpg);
        transition-duration: 0.5s;
    }
    
    #pika-color:hover{
        background-position: center;
        background-image: url(IMAGES/pikachubg.jpg);
        transition-duration: 0.5s;
    }


}
